@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("./fonts/Booter\ -\ Zero\ Zero.woff") format("woff"),
    url("./fonts/Booter\ -\ Zero\ Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 2%;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/images/Cover.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Booter - Zero Zero";
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 9em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.about-band-image {
  float: left;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.main-footer {
  margin-top: 50px;
  background-color: rgb(66, 72, 73);
  color: white;
  padding: 0.25em 0;
}
